* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  height: 75px;
  margin: 0 100px;
  border-bottom: solid 1px #BDB5AF;
}

#logo {
  display: flex;
  align-items: center;
  height: 75px;
  width: 100px;
}

header nav {
  width: 400px;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: #58402C;
  height: 100%;
}

header nav ul li:hover {
  cursor: pointer;
  color: #364D91;
}

#sec1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
  height: 500px;
}

.sec1-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #58402C;
  padding-right: 50px;
}

.sec1-text h1 {
  font-size: 3em;
  line-height: 80px;
  margin-bottom: 50px;
}

.sec1-text h3 {
  font-weight: normal;
  font-size: 1.5em;
  margin-bottom: 50px;
}

.sec1-text p {
  margin: 20px 0;
  font-size: 0.9em;
}

.sec1-text p:hover {
  cursor: pointer;
  color: #364D91;
}

.sign-up {
  display: flex;
}

.sign-up span {
  height: 40px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #364D91;
  color: #fff;
  border-radius: 10px;
}

.sign-up span:hover {
  cursor: pointer;
  background-color: #30488F;
}

.sign-up #or {
  background-color: #fff;
  color: grey;
  width: 50px;
}

.sign-up #or:hover {
  cursor: default;
}

.illustration-main {
  height: 70%;
}

#sec2 {
  background-color: #FFE7D2;
}

#sec4 {
  background-color: #FFE7D2;
}

