header {
  display: flex;
  justify-content: space-between;
  height: 75px;
  margin: 0 100px;
  border-bottom: solid 1px #BDB5AF;
}

#logo {
  display: flex;
  align-items: center;
  height: 75px;
  width: 100px;
}

header nav {
  width: 400px;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: $mainTextColor;
  height: 100%;
  // Nidificazione
  li:hover {
    cursor: pointer;
    color: $hoverColor;
    }
}
